.create-group {
  width: max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: rgba(79, 1, 181, 0.391);
  border-radius: 10px;
  position: absolute;
  top: 10rem;
  right: 0;
  bottom: 0;
  left: 0;

  form {
    display: flex;
    gap: 20px;


    input {
      padding: 20px;
      border-radius: 10px;
      border: none;
      outline: none;
    }

    button {
      padding: 15px;
      border-radius: 10px;
      background-color: rgb(125, 175, 251);
      color: white;
      cursor: pointer;
    }
  }

  .users {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
    }

    span {
      font-weight: bold;
    }
  }

  button {
    margin-top: 15px;
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(125, 175, 251);
    color: white;
    cursor: pointer;
  }

  .selected-users {
    display: flex;
    flex-direction: column;

    h3 {
      font-weight: bold;
    }

    .detail {
      margin-top: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
  }

  .groups-input{
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    input{
      border-radius: 5px;
      padding: 10px;
      border: none;
      outline: none;
    }
  }
}